.footer {
  background-color: getColor("blue");
  position: relative;
  width: 100%;
  &-left {
    @include flex($direction: column, $align: center);
    @media screen and (min-width: 1200px) {
      @include flex($direction: row, $align: center);
      gap: 124px;
    }
  }
  &-right {
    @include flex($direction: column, $align: center);
    @media screen and (min-width: 1200px) {
      @include flex($direction: row, $align: center);
      gap: 55px;
    }
  }
  .container {
    padding: 15px;
    @include flex($direction: column, $align: center, $justify: center);
    @media screen and (min-width: 1200px) {
      @include flex($justify: space-between, $align: center);
      padding: 42px 15px;
    }
  }
}
.logo {
  @include flex($align: end, $justify: center);
  &--footer {
    color: getColor("white");
    margin-top: 83px;
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-top: 0;
    }
  }
  &-text {
    @include flex($direction: column);
    text-transform: uppercase;
    font-family: getFont("Roboto");
    @include text(24px, 900, 90.5%, 0.32px, left);
    padding-left: 8px;
    &--red {
      color: getColor("red");
    }
  }
}
.logo-icon,
.footer-icon,
.icon-up {
  fill: getColor("white");
}
.footer-info {
  padding-top: 50px;
  padding-bottom: 36px;
  @include flex($direction: column, $align: center, $justify: center);
  gap: 48px;
  @media screen and (min-width: 1200px) {
    gap: 36px;
    flex-direction: row;
    padding: 0;
  }
  &__text {
    color: getColor("white");
    font-family: getFont("DmSans");
    @include text(23px, 700, 36px, 0.64px, center);
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }
}
.footer-social {
  display: flex;
  align-items: center;
  @include flex($align: center);
  gap: 48px;
  @media screen and (min-width: 1200px) {
    gap: 22px;
  }
  .footer-icon {
    &--fb {
      @media screen and (min-width: 1200px) {
        width: 8px;
        height: 15px;
      }
    }
    &--ld {
      @media screen and (min-width: 1200px) {
        width: 16px;
        height: 16px;
      }
    }
    &--g {
      @media screen and (min-width: 1200px) {
        width: 14px;
        height: 14px;
      }
    }
  }
}
.footer-copyright {
  padding-top: 31px;
  padding-bottom: 83px;
  @media screen and (min-width: 1200px) {
    margin-right: 138px;
    padding: 0;
  }
  &__text {
    color: getColor("white");
    font-family: getFont("DmSans");
    @include text(23px, 700, 36.15px, 0.65px);
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
    }
  }
}
.footer-up {
  @include flex($align: center, $justify: center);
  position: absolute;
  top: -52px;
  width: 104px;
  height: 104px;
  border: none;
  cursor: pointer;
  background-color: getColor("red");
  border-radius: 50%;
  @media screen and (min-width: 1200px) {
    right: 99px;
  }
}
