.gallery .container {
  padding: 32px 30px 40px;
  @media (min-width: 1200px) {
    padding: 177px 0 229px;
  }
}
.gallery {
  &__title,
  &__text {
    margin: 0 auto;
    font-family: getFont("Dm Sans");
  }
  &__title {
    color: getColor("blue");
    @include text(40px, 700, 46px, 0, center);
    margin-bottom: 20px;
    @media (min-width: 1200px) {
      margin-bottom: 42px;
      font-size: 60px;
    }
  }
  &__text {
    max-width: 314px;
    @include text(16px, 400, 24px, 0.03px, center);
    color: getColor("paragraph-dark");
    margin-bottom: 40px;
    @media (min-width: 1200px) {
      margin-bottom: 72px;
      font-size: 18px;
      max-width: 511px;
      line-height: 28px;
      letter-spacing: 0.05;
    }
  }
}
.gallery-list {
  @include flex(row, wrap, flex-start, center);
  display: flex;
  gap: 13px;
  @media (min-width: 1200px) {
    flex-wrap: wrap;
      gap: 20px;
    }
  @media (min-width: 1200px) {
    gap: 30px;
    flex-wrap: nowrap;
  }
  &__item {
    @include flex(column, wrap);
    gap: 12px;
    @media (min-width: 1200px) {
      gap: 20px;
    }
    @media (min-width: 1200px) {
      gap: 30px;
    }
  }
  &__item:nth-child(3) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 14px;
    @media (min-width: 1200px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    }
  }
  &__img{
    width: 100%;
    max-width: 151px;
    @media (min-width: 1200px) {
      max-width: 275px;
    }
    @media (min-width: 1200px) {
      max-width: 350px;
    }
  }
}

