.header {
  padding: 48px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: 1200px) {
    padding-top: 40px;
  }

  .container {
    max-width: 100vw;
    @include flex($align: center, $justify: space-between);
  }

  &__pages {
    @media (min-width: 1200px) {
      @include flex($align: center, $justify: center);

      gap: 64px;
    }
  }
}
.logo {
  @include flex($align: center, $justify: center);

  &--header {
    @media (min-width: 1200px) {
      margin-left: 40px;
    }
  }

  &-icon {
    fill: getColor("white");
    margin-right: 6px;
    width: 24px;
    height: 49px;
  }

  &__span {
    max-width: 111px;
    font-family: getFont("Roboto");
    text-transform: uppercase;
    color: getColor("white");

    @include text(20px, 900, 81%);

    @media (min-width: 1200px) {
      font-size: 23px;
    }
  }
}
.nav-list {
  display: none;

  @media (min-width: 1200px) {
    @include flex($align: center, $justify: center);

    gap: 62px;
  }

  &__link {
    @media (min-width: 1200px) {
      color: getColor("white");
      text-transform: uppercase;
      @include text(18px, 700, 23px);
    }
  }
}
.search-btn,
.menu-btn {
  @include flex($align: center, $justify: center);

  width: 30px;
  height: 30px;
  background-color: transparent;
}
.search-btn {
  &__icon {
    width: 18px;
    height: 18px;
    fill: getColor("white");
  }
}
.menu-btn {
  @media (min-width: 1200px) {
    margin-right: 144px;
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: getColor("white");
  }
}
.header-btn-container {
  @include flex($align: center, $justify: center);

  gap: 35px;
}
