.backdrop {
  width: 100%;
  padding: 153px 0 40px 0;

  @media (min-width: 1200px) {
    padding-top: 266px;
    padding-left: 277px;
    padding-bottom: 0;
  }

  background-image: linear-gradient(
    192.53deg,
    rgba(0, 0, 0, 0.31) 29.671%,
    rgba(0, 0, 0, 0.29) 84.194%
  );
}
.hero .container {
  @media (min-width: 1200px) {
    max-width: 100%;
    margin: 0;
    padding-right: 0;
  }
  @media (min-width: 1925px) {
    padding-right: 15px;
  }
}
.hero {
  background-image: url("../images/hero-bkg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 0.020833333333333332),
    (-o-min-device-pixel-ratio: 1/48),
    (min-resolution: 2dpi),
    (-webkit-min-device-pixel-ratio: 192),
    (-o-min-device-pixel-ratio: 192/1),
    (min-resolution: 192dppx) {
    background-image: url("../images/hero-bkg-mobile@2x.jpg");
  }

  @media (min-width: 1200px) {
    background-image: url("../images/hero-bkg-desktop.jpeg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 0.020833333333333332),
      (-o-min-device-pixel-ratio: 1/48),
      (min-resolution: 2dpi),
      (-webkit-min-device-pixel-ratio: 192),
      (-o-min-device-pixel-ratio: 192/1),
      (min-resolution: 192dppx) {
      background-image: url("../images/hero-bkg-desktop@2x.jpg");
    }
  }
  &__title {
    max-width: 314px;
    color: getColor("white");
    font-family: getFont("Roboto");
    text-transform: uppercase;

    @include text(58px, 900, 108%, $text-align: left);

    @media (min-width: 1200px) {
      font-size: 120px;
      max-width: 627px;
      &::before {
        content: "";
        display: block;
        background-image: url("../images/hero-dekor.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 21px;
        height: 803px;
        position: absolute;
        top: 233px;
        left: 65px;
      }
    }
  }
  &__btn {
    width: 100%;
    padding: 21px 90px;
    background-color: getColor("red");
    margin: 8px 0 54px;
    border-radius: 211px;

    color: getColor("white");
    font-family: getFont("DmSans");

    @include text(18px, 700, 150%, $text-align: center);

    @media (min-width: 1200px) {
      max-width: 273px;
      padding: 26px 64px;
      margin: 21px 0 241px;
    }
  }
  &__container {
    width: 100%;
    @include flex(column);
    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: nowrap;

      height: 254px;
      position: relative;
    }
  }
}
.hero-list {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  @include flex(column, nowrap, center, space-between);
  padding: 35px 32px 35px 32px;
  // Плаки Плаки Щовель хихихихихихихи

  @media (min-width: 1200px) {
    max-width: 1255px;
    max-height: 210px;

    padding: 41px 71px;
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    padding-right: 50px;
    padding-left: 50px;
  }
  &__item {
    max-width: 210px;
  }

  &__span {
    color: getColor("red");
    font-family: getFont("Roboto");
    text-transform: uppercase;

    @include text($font-w: 900, $line-h: 1.1875);
  }

  &__title {
    margin-top: 14px;
    color: getColor("white");
    font-family: getFont("DM Sans");
    @include text(26px, 700);
  }

  &__text {
    color: #939393;
    font-family: getFont("DM Sans");
    @include text(18px, 400);
  }
}
.hero-video-container {
  width: 100%;
  align-self: flex-start;
  min-width: 290px;
  min-height: 191px;

  @media (min-width: 1200px) {
    max-width: 417px;
  }
  &__video {
    display: block;
    width: 100%;
    min-height: 191px;
    @media (min-width: 768px) {
      min-height: 254px;
    }
  }
}
