.information .container{
    padding: 29px 30px 73px;
    @media (min-width: 1200px) {
        padding: 119px 30px 117px;
    }
}
.information{
    background-color: #DCE8F2;
    &__title{
        @include text(40px, 700, 46px, 0, center);
        margin-bottom: 45px;
        @media (min-width: 1200px) {
            font-size: 60px;
            text-align: left;
        }
    }
    &__btn{
        display: none;
        @media (min-width: 1200px) {
            display: block;
            @include btn(rgb(221, 34, 66), #fff, 50px, 19px 56px);
            margin-top: 17px;
            @include text(18px, 700, 1.5);
            margin-left: 100px;
        }
    }
}

.information-list{
    @include flex(column, center, center);
    gap: 32px;
    position: relative;
    z-index: 1;
    @media (min-width:1200px) {
        gap: 80px;
    }
    &__item{
        @include flex(column, center, center);
        @media (min-width: 1200px) {
            flex-direction: row;
            gap: 44px;
            align-items: flex-start;
        }
    }
    &__title{
        @include text(22px, 700, 1.56, $text-align: center);
    margin: 0 auto 13px;
    @media (min-width: 1200px) {
        display: flex;
        justify-content: start;
    }
    }
    &__input{
        display: none;
        &:checked+.information-list__label{
            display: none;
        }
        &:checked~.information-list__description-desktop{
            display: block;
        }
        &:checked~.information-article__title-desktop{
            display: block;
        }
        &:checked~.information-article__description-desktop{
            display: block;
        }
    }
    &__label{
        @include flex(column, $align: center);
        color:getColor('lightText');
        @media (min-width: 1200px) {
            display: none;
        }
    }
    
    &__span{
        @include text();
        color:getColor('red');
    }
    &__description-desktop{
        display: none;
        @include text(16px, 400, $letter-s: 0px, $text-align: center);
        color:getColor('lightText');
        @media (min-width: 1200px) {
            display: block;
            font-size: 24px;
            text-align: left;
        }
    }
    &__img{
        width: 56px;
        height: 56px;
    }
    &::before{
        content: "";
        @media (min-width: 1200px) {
            width: 3px;
            height: 90%;
            background-color:getColor('lightText');
            position: absolute;
            left: 28px;
            top: 0;
            z-index: -1;
            opacity: 0.3;
        }
    }
}


.information-article{
    @include flex(column, $align: center, $justify: center);
    gap: 45px;
    @media (min-width: 1200px) {
        @include flex($align: flex-end);
    }
    &__video{
        margin-top: 32px;
        width: 314px;
        height: 208px;
        @media (min-width: 1200px) {
            margin-top: 90px;
            width: 250px;
            height: 166px;
        }
    }
    
    &__title-desktop{
        display: none;
        @include text(26px, 700, $text-align: center);
    @media (min-width: 1200px) {
        display: block;
        margin-bottom: 12px;
        text-align: left;
    }
    }
    &__description-desktop{
        display: none;
        @include text(16px, 400, 1.62, $text-align: center);
    color:getColor('lightText');
    @media (min-width: 1200px) {
        display: block;
        text-align: start;
        max-width: 470px;
        font-size: 23px;
    }
    }
}

