html {
  scroll-behavior: smooth;
}

body {
  font-family: getFont("DmSans");
  font-style: normal;
  line-height: normal;
  @include text(18px, 700);
}
.container {
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 1284px;
    // max-width: 1488;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
